.vscode
/src/UNKNOWN
/src/*.dll
/src/*.so
/src/*.pyd
/src/*.mod
/src/*.o
/src/*.s
/src/*.pyf
/src/*.log
/src/__pycache__
/src/exemplo_plots_and_tests.py
/src/homedir.py
/src/build.sh
/scripts/__pycache__
/src/pls_attrs.csv
/src/plotting_isolated_gridcell_stocks.py
/src/plotting_isolated_gridcell_stocks.py.save
/src/plotting_isolated_gridcell_stocks.py
/src/teste_celulas_isoladas.py
/src/exporting_areacsv.py
/src/biomass_10-09-18.csv
/scripts/*.csv
