# Set the default behavior (eol=lf)
# * text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
/src/*.py text
/src/*.f90 text
/src/*.sh text
/src/*.txt text
/src/*.log text
/src/*.hdr text
/input/*.hdr binary

# Declare files that will always have CRLF line endings on checkout.
# *.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
/src/*.png binary
/src/pls_attrs.csv
/src/*.jpg binary
/src/*.bin binary
/input/*.bin binary
/src/*.so binary
/src/*.npy binary
./*/.pdf binary

# ./* binary
# /src/*.py binary
# /src/*.f90 binary
# /src/*.sh binary
# /src/*.txt binary
# /src/*.csv binary
# /src/*.log binary
# /src/*.hdr binary
# /input/*.hdr binary